#custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

#custom-scrollbar::-webkit-scrollbar-track {
  margin-top: 25px;
  margin-bottom: 25px;  
}

#custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.4);
}

textarea.mini-scrollbar::-webkit-scrollbar {
  width: 6px;
}

textarea.mini-scrollbar::-webkit-scrollbar-track {
  margin-top: 0;
  margin-bottom: 0; 
}

textarea.mini-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.4);
}

